<h1 class="title">Two-way Data Binding with Polymer and Angular</h1>
<a class="github-link" href="https://github.com/heyMP/polymer-example">View on Github</a>

<div class="input">
  <label>Standard two-way data binding with ngModel</label>
  <input type="text" [(ngModel)]="name">
</div>

<div class="input">
  <label>Two-way data binding with a Polymer element</label>
  <paper-input label="Name" [value]="name" (input)="name = $event.target.value"></paper-input>
</div>

<div class="output">Hello my name is: {{name}}</div>